.container-login {



  height: 100vh;
  width: 100%;
  padding: 0;
}




.content {
  padding-top: 200rpx;
  font-size: 32rpx;
  margin-bottom: 60rpx;

}

.content view {
  padding: 0 50rpx;

}

.content text {
  padding: 0 50rpx;
  line-height: 1.8em;
  display: block;
  color: #9d9d9d;
  margin-top: 30rpx;
}

.avatar-wrapper {
  background-color: transparent;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .avatar {
    width: 100px;
    height: 100px;
    display: block;
    overflow: hidden;
  }

}

.nickname {
  margin-top: 60rpx;
  display: flex;
  background-color: #fff;
  font-size: 32rpx;
  padding: 15rpx 0;
  border-top: 1rpx solid #d9d9d9;
  align-items: center;
  border-bottom: 1rpx solid #d9d9d9;
  justify-content: center;

  &-view {
    padding: 0 30rpx;
    display: none;
  }

  &-input {
    text-align: center;
  }
}

.login-button {
  font-size: 32rpx;
  color: #fff;
  height: 88rpx;
  line-height: 88rpx;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50rpx;
  margin-top: 60rpx;
}