.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  width: 70%;
  background-color: #fff;
  border-radius: 8px;
  padding: 40rpx;
  animation: showModal 0.3s;
  position: relative;
  min-height: 100rpx;
}

 

@keyframes showModal {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close {
  position: absolute;
  right: 40rpx;
  top: 40rpx;
  font-size: 28rpx;

  image {
    width: 40rpx;
    height: 40rpx;
    display: block;
  }
}

.footer {
  button {
    display: inline-block;
    width: 100%;
    height: 80rpx;
    font-size: 32rpx;
    line-height: 80rpx;
    color: #fff;
    border-radius: 40rpx;
    text-align: center;
    background-color: rgb(238, 80, 40);
    padding: 0;
    margin: 0;
    border: none;
  }
}